<button src="https://github.com/HabadBrMe/Prueba"><span class="material-icons">
    link
    </span>Repository</button>
<a href="https://github.com/HabadBrMe/Prueba" class="buttonfloat"><span class="material-icons">
    link
    </span>Repository</a>