<div class="about" id="about">
    <img src="img/logo.png" alt="">
    <h1>Weather forecast</h1>
    <p>site built with API MetaWeather, is an automatic weather data aggregator that takes weather forecasts from multiple meteorologists and calculates the most likely outcome.</p>
    <p>For more information about how the API works, <a href="https://www.metaweather.com/api/">here</a></p>
    <p>Habad Bravo Medina, developer Front-End Jr</p>
</div>