<footer class="footer">
    <p>
        Site created by
        <span>HabadBrMe</span>
        <img    src="img/favicon.svg"
                alt="favicon" 
                height="20px"
                width="auto" />
    </p>
</footer>