<header class="header__nav">
    <div class="logo">
        <img    src="img/favicon.svg"
                alt="favicon" 
                height="40px"
                width="auto" />
        <p class="header__text">HabadBrMe</p>
    </div>

    <div class="hamburger">
        <span class="hamburger__bar"></span>
        <span class="hamburger__bar"></span>
        <span class="hamburger__bar"></span>
    </div>

    <div class="menu">
        <a href="#search" class="menu__link">
            <span class="material-icons">search</span>
            <p class="header__text">Weather forecast</p>
        </a>
        <a href="#about" class="menu__link">
            <span class="material-icons">info</span>
            <p class="header__text">About app</p>
        </a>
    </div>
    
</header>